<div class="grater grater-container">
  <div>
    <p>Move Alarm puts a stop to pesky oversleeping by forcing you to get out of your bed and walk around to turn the alarm off.</p>
    <p>No more starting the day late because you overslept.</p>
    <p>No more snoozing.</p>
    <p class="app-store"><%= app_store_button %></p>
    <p class="disclaimer">*Requires an iPhone 5S*</p>
    <p class="copyright">&copy; 2014 <a href="http://pasanpremaratne.com" rel="external nofollow">Pasan Premaratne</a></p>
  </div>
  <div>
    <div class="iphone">
      <div id="screenshots">
        <img alt="Shares Screenshot" src="/assets/screenshot01.png" srcset="/assets/screenshot01@2x.png 2x" width="320" heigh="568">
        <img alt="Shares Screenshot" src="/assets/screenshot02.png" srcset="/assets/screenshot02@2x.png 2x" width="320" heigh="568">
        <img alt="Shares Screenshot" src="/assets/screenshot03.png" srcset="/assets/screenshot03@2x.png 2x" width="320" heigh="568">
        <img alt="Shares Screenshot" src="/assets/screenshot04.png" srcset="/assets/screenshot04@2x.png 2x" width="320" heigh="568">
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/assets/home.js"></script>
<% end %>
