<div class="grater-container">
  <h3>Support</h3>

  <h4>Why does this app only work on the iPhone 5S?</h4>
  <p>The app uses the M7 motion coprocessor to detect when you've reached a certain number of steps away from your bed. The M7 is currently only available in the iPhone 5S and so for now, the app is restricted to the iPhone 5S. Fret not! The app will work on all devices in the near future.</p>

  <h4>Why does the alarm not sound if the phone is muted or if Do Not Disturb mode is turned on?</h4>
  <p>Device settings serve specific purposes and should rarely be overridden. Users set the phone to mute or Do Not Disturb intentionally, so they are not disturbed. An alarm that sounds despite these preferences being set is poor design.</p>

  <p>Certain apps sound an alarm even when the phone has been muted. They do this by requiring the user to keep the app in the foreground and not locking their phone in the process of setting an alarm. Requiring users to follow specific instructions out of the ordinary can lead to confusion and frustration and a poor user experience. I chose to keep it simple by only sounding the alarm if the user has indicated they want the alarm to go off.</p>

  <p>However, if you think Move Alarm should support this behavior, feel free to <a href="mailto:pasan@getmoveapp.com">email</a> me and let me know.</p>

  <h4>My question wasn't answered. Help!</h4>
  <p>Shoot me an <a href="mailto:pasan@getmoveapp.com">email</a>.</p>
</div>
